html
  head
    title Pretty GitHub
  body
    p Viewing information about: #{githubDetails.login}
    p Location details: #{githubDetails.location}
    p Total repos: #{githubDetails.public_repos}
    p Biography: #{githubDetails.bio}
